/* ReservationPage.jsx */
.Reserve{
    color: white;
}

/* header2.jsx */
.Header {
    top:0;
    left: 0;
    right: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 100px;
    background-color: var(--color-sub);
    z-index: 1000;
    color: var(--color-point);
}

.Logo{
    font-weight: bold;
    font-size: 1.2rem;
}

.logged_button{
    display: flex;
    gap: 30px;
}

.logout, .myReseve{
    color: var(--color-point);
    font-size: 1rem;
}

/* ReserveContent.jsx */
.ReserveContent{
    padding: 50px 180px;
}

.form_content{
    display: flex;
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    margin-right: 10px;
}

.right {
    width: 50%;
    margin-left: 30px;
}

.selectDateTime label, .selectTable label{
    display: block;
    font-weight: 500;
    margin-bottom: 1rem;
}

.dateAndTime {
    display: flex;
    gap: 2rem;
    align-items: start;
}

.SelectTime{
    width: 200px;
    height: 30px;
    text-align: center;
}

.ReserveContent{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.locationButtonGroup, .capacityButtonGroup {
  display: flex;
  gap: 1rem;
}

.locationButton, .capacityButton {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.locationButton:hover {
  background-color: #f5f5f5;
}

.locationButton.selected, .capacityButton.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.capacitySection {
    margin-top: 1rem;
}


/* 오른쪽 정보 입력 부분 */
/* .right{
    border-left: 1px white;
} */

.input_form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.formRow{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}

.formRow label {
    width: 150px;
    text-align: center;
}

.formRow input {
    width: 200px;
}

.submit_btn{
    background-color: var(--color-sub);
    margin: 20px auto 0 auto;
    height: 30px;
    width: 300px;
    border-radius: 5px;
}